html { min-height: 100vh; }
a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}
body {
  margin: 0;
}
#menu {
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}
#menu: hover {
  color: black;
}
#novelty {
  margin-right: 120px;
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}
#novelty: hover {
  color: black;
}
#reviews {
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}
#reviews: hover {
  color: black;
}
.phone {
  float: right;
  margin-left: 100px;
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}
input {
  margin-left: 10px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #3d3d3d;
  margin-right: 30px;
  border-color: white;
  color: white;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  background-color: #444;
  height: 80px; 
  justify-content: space-between;
}
#text {
  font-family: 'Roboto', sans-serif;
}
.center-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.main-item {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.main-item:nth-child(2n+1) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #444;
}

