*{
	text-align: center;
}
a{
	color: black;
}
.content {
	display: flex;
	flex-flow: row wrap; /* флекс элементы заполняют собой строку (row) */
	width: 75%;
	height: 800px;
	margin: auto;
	background-color: #ccc;    
 }
    header{
	  order: 1; 
      flex: 1 1 100%;
      background-color: #C444FF ;
      margin: 5px;
     /* word-spacing: 6em;
      line-height: 100px;*/
      display: flex;
	  justify-content: center;
	  align-items: center;
    }
    .flex-item{
    order: 2; 
     flex: 1 1 40%;
     background-color: #C444FF ;
     margin: 5px;
     /*line-height: 100px;*/
     display: flex;
	  justify-content: center;
	  align-items: center;
    }
    footer{
    	order: 3;
    	flex:1 1 100%;
    	background-color: #C444FF ;
    	margin: 5px;
    	min-height: 50vh;
    	display: flex;
	  	justify-content: center;
	  	align-items: flex-start;
    	

    }
    footer .footer{
    	border:2px solid black;
    	padding: 5px;

       }
    

