html { min-height: 100vh; 
}

a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

body {
  margin: 0;
}

#menu {
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}

#menu:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid green;
}

#novelty {
  margin-right: 120px;
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}

#novelty:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid green;
}

#reviews {
  font-family: 'Niramit', sans-serif;
  transition-duration: 0.3s;
}

#reviews:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid green;
}

.phone {
  float: right;
  margin-left: 100px;
  font-family: 'Niramit', sans-serif;
}

input {
  margin-left: 10px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #3d3d3d;
  margin-right: 30px;
  border-color: white;
  color: white;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  background-color: #444;
  height: 80px; 
  justify-content: space-between;
}

#text {
  font-family: 'Roboto', sans-serif;
}

.center-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main-item {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.main-item:nth-child(2n+1) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #444;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

 #history {
  font-size:17px;
  text-align: center;
  word-spacing: 0.5px;
  letter-spacing: 0.1em;
  font-family: 'Raleway', sans-serif;
  line-height:2em;
}
#title {
margin-top: 100px;
text-align: center;
font-size:50px;
}

@media (max-width: 800px) {
    .main {
      display: block;
    }
}