html { min-height: 100vh; }
a{
  text-decoration: none;
  color:black;
}
input{margin-left: 60px;}
.nav-wrapper {
    display: flex;
    align-items: center;
    word-spacing: 6em;
    justify-content: space-between;
    }
.center-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
}

img{
  height: 300px;
  width: 300px;
}
.firstline{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}
.secondline{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #c3c3c3;
}
p#borderfooter{
    border:2px solid black;
    padding: 5px;
    background-color: #fff;

}
